# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "@/env.js"
# should be updated accordingly.

ECPAY_API_BASE_URL="https://payment-stage.ecpay.com.tw"
ECPAY_ID="3002607"
ECPAY_HASH_KEY="pwFHCqoQZGmho4w6"
ECPAY_HASH_IV="EkRm7iFT261dpevs"
ECPAY_DESCRIPTION="實況主贊助 https://www.twitch.tv/"

NEXT_PUBLIC_PAYMENT_TOOLS_WEB_ACTION="https://sixleafs.payment-tools-web.com/CheckOut/OPayCheckOut"
NEXT_PUBLIC_PAYMENT_TOOLS_WEB_METHOD="POST"
